{% extends "base.html" %}
{% block content %}
  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ошибка</span> сервера</h1>

      <div class="container">
        <div class="row ">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <p class="text-center">
              <h5 class="text-center">
                Возможно, на сервере произошёл сбой или ведутся небольшие технические работы.
                Попробуйте перезагрузить страницу сейчас или через пару минут.
              </h5>
            </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>

    </section>
  </main>
{% endblock content %}